<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pyro</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="Pyro" />
    <meta name="keywords" content="Pyro" />

    <meta name="author" content="Pyro" />

    <meta property="og:type" content="website" />
    <meta name="og_site_name" property="og:site_name" content="Pyro" />

    <meta name="viewport" content="width=device-width" />

    <meta name="author" content="Pyro" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1 {
            font-size: 26px;
            color: #000;
            margin: 0;
        }

        .text-center {
            text-align: center
        }

        .flex-container {
            display: flex;
            flex-wrap: nowrap;
        }

        .flex-container>a {
            color: #006ada;
            /* background-color: #f1f1f1; */
            width: 40px;
            margin: 5px;
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>

<body>
    <div class="page-wrapper" style="padding: 20px 0;display: block;font-family: 'Lato', sans-serif;">
        <div class="container" style="width: 800px;margin: 0 auto;box-shadow: 0 1px 20px rgba(0, 0, 0, .15);">
            <div class="row">
                <table class="header" style="border: none;  text-align: center; height: 80px; width: 100%;">
                    <tbody>
                        {{!-- <tr>
                            <td colspan="1" style="width: 100%">
                                <div class="header-image"
                                    style="width: 170px; max-width: 170px; height: auto; margin: 0 auto;">
                                    <img src="assets/images/logo_animated.gif" alt="Pyro"
                                        style="width: 100%;
                						  height: auto;" />
                                </div>
                            </td>
                        </tr> --}}
                    </tbody>
                </table>
                <div class="mail-content" style="padding: 15px 40px;">
                    <div class="page-content" style="padding: 0px 20px;">
                        <h2 style="color: #006ada;">Welcome to the Pyro</h2>
                       
                        <p class="message">Click the link to verify your account  {{verifyUrl}}</p>
</p>
                        <p>
                            
                       
                        </p>
                    </div>
                </div>
                <div class="footer-info" style="
    height: 80px;
    display: table;
    color: #000;
    font-size: 14px;
    width: 100%;">
                    <p style="text-align: center;
    width: 100%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;">
                        &#8471; Pyro All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>